
.grid{
    border: 1px solid black;
    height: 540px;
    width: 540px;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 60px;
    width: 60px;

}

.ending-block{
    background-color: red;
}
.starting-block{
    background-color: blue;
}

.l1, .l2, .l3 {
    background-image: url("./images/ground.jpg");
	background-size: cover;
}

.l4, .l5{
    background-image: url("./images/water.png");
	background-size: cover;
    background-color: lightblue;
}

.c1{
    background-image: url("./images/car.png");
	background-size: cover; 
}

.c2, .c3{
    background-image: url("./images/asphalt.jpg");
	background-size: cover;
}

.frog{
    background-image: url("./images/frog.png");
	background-size: cover;
}